.btn {
    cursor: pointer;
    background-color: var(--blue);
    color: var(--white);
    height: 2.5rem;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: var(--blue-hover);
}

@media (max-width:992px) {
    .btn {
        margin: 0 auto;
    }
}