.header {
    background: url('/public/images/bg1.jpg');
    width: 100%;
    height: calc(100% + 500px);
    animation: BG-left-to-right 60S linear infinite;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 45, 0.495);
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.right-section {
    grid-row: 4/7;
    grid-column: 2/4;
    z-index: 11;
    color: var(--white);
    margin-top: 7rem;
}



.mini-title {
    color: var(--tosi);
    font-size: 0.8rem;
}

.detail {
    color: var(--tosi);
    font-size: 0.8rem;
    margin: 1rem 0;
}

.left-section {
    grid-row: 4/7;
    grid-column: 4/7;
    z-index: 11;
    height: 100%;
    text-align: right;
    width: 20rem;
    margin: 6rem 4rem;
    border-radius: 20px;
    background-color: aliceblue;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.form-title {
    margin-bottom: 1rem;
}

.form-detail {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.all-input {
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid var(--tosi);
    outline: none;
    border-radius: 10px;
}

.checkbox {
    display: flex;
}

.checkbox-detail {
    font-size: 0.7rem;
    margin: 1rem;
}

.click-modal-open {
    cursor: pointer;
    color: var(--blue);
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

@keyframes BG-left-to-right {

    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0% 0;
    }
}


@media (max-width: 992px) {
    .right-section {
        grid-row: 3/7;
        grid-column: 1/7;
        text-align: center;
    }

}


@media (max-width: 767px) {
    .header {
        width: 100%;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    .right-section {
        grid-row: 3/7;
        grid-column: 1/7;
        text-align: center;
    }

    .mini-title {
        font-size: 0.6rem;
    }

    .title {
        font-size: 1rem;
    }

    .detail {
        font-size: 0.6rem;
    }

    .btn {
        width: 5rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }
}

@media (max-width:570px) {
    .left-section {
        width: 100%;
        margin: 5rem 2rem 0 2rem;
    }
}