.business-solution {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Business solution images css */

.business-solution-picture {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;

}

.image-business {
    width: 270px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    transition: all 1s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.3);
}

.image-business:nth-child(1) {
    background-image: url(/public/images/business-solution1.jpg);
}

.image-business:nth-child(2) {
    background-image: url(/public/images/business-solution2.jpg);
}

.image-business:nth-child(3) {
    background-image: url(/public/images/business-solution3.jpg);
}

.image-business:hover {
    transform: rotate(-3deg);
}

.image-business::after {
    content: '';
    transition: all 0.3s ease-in;
}

.image-business:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.5);
}

.image-business-title {
    display: none;
    color: var(--white);
    z-index: 111;
    font-size: 1.1rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.image-business:hover .image-business-title {
    display: block;
}

/* Business solution detail css */

.business-solution-detail {
    width: 40%;
}

.detail-about-me {
    padding: 1px 10px;
    border: 1px solid palevioletred;
    background-color: plum;
    color: var(--gray);
    border-radius: 30px;
    font-size: 0.5rem;
}

.detail-title {
    font-size: 1.5rem;
    margin: 0.8rem 0;
}

.detail-section1 {
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
}

.detail-section1-title {
    margin-right: 0.5rem;
    font-size: 1.1rem;
}

.datail-section1-des {
    font-size: 0.7rem;
    color: var(--gray);
    margin-bottom: 1rem;
}


/* Business plan */

.Business-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0 4rem 0;
    text-align: center;
}

.business-plans-title {
    font-size: 1.5rem;
}

.business-plans-detail {
    width: 30rem;
}

.business-plan {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 2rem;
    width: 90%;
    justify-content: center;
}

/* Responsive Code */

@media(max-width:1200px) {
    .image-business {
        width: 200px;
        height: 250px;
    }
}

@media (max-width: 992px) {
    .image-business {
        width: 150px;
        height: 170px;
    }
}

@media (max-width: 768px) {
    .business-solution-picture {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .business-solution-detail {
        width: calc(100% - 100px);
        margin: 2rem auto;
    }

    .business-plans-title {
        font-size: 1rem;
    }

    .business-plans-detail {
        width: 15rem;
        font-size: 0.8rem;
    }

    .business-plan {
        padding: 0;
    }
}

@media (max-width:576px) {
    .detail-title {
        font-size: 0.8rem;
    }
}

@media (max-width:320px) {
    .business-plans-detail{
        width:5rem;
        font-size: 0.5rem;
    }
}